@using BasicSecurity.Models
@model BasicSecurity.Models.User

@{
    ViewBag.Title = "PXL - Basic Security";
}


<script src="http://code.jquery.com/jquery-latest.js"></script>

<div class="row">
    <h3>Keys genereren</h3>
    <div class="col-md-4">


        Naam:<input type="text" id="txtNaam" />
        <button id=myButton class="btn btn-default" >Registreer</button>

        <script>
     var url = '@Html.Raw(Url.Action("Download", "Home"))';
            $("#myButton").click(function () {
                if ($('#txtNaam').val() == '') {
                    alert('Naam verplicht!');
                    return;
                }

         location.href = url + '?id=' + $("#txtNaam").val()
     });
        </script>


    </div>
    <div class="col-md-4">
        AES Sleutel
        <input type="button" class="btn btn-default"  value="Genereer" onclick="location.href='@Url.Action("Download", "Home")'" />
    </div>
</div>
<div class="row">
    <h3>Alice -> Bob </h3>
    <div class="col-md-4">
        <h4>1. Keys selecteren</h4>

        <p><input type="file" name="files" class="btn btn-default"  multiple /></p>

    </div>
    <div class="col-md-4">
        <h4>2. Bericht selecteren</h4>
        <p><input type="file" name="file1" class="btn btn-default"  /></p>
    </div>
    <div class="col-md-4">
        <h4>3. Versturen</h4>
        <p><a class="btn btn-default" href="">Encrypteer &raquo;</a></p>
    </div>

</div>
<div class="row">
    <h3>Bob CHECK</h3>
    <div class="col-md-4">
        <h4>1. Keys selecteren</h4>

        <p><input type="file" class="btn btn-default"  name="files" multiple /></p>

    </div>
    <div class="col-md-4">
        <h4>2. Bericht selecteren</h4>
        <p><input type="file" name="files2" class="btn btn-default"  /></p>
    </div>
    <div class="col-md-4">
        <h4>3. Ontvang</h4>
        <p><a class="btn btn-default" href="">Decrypt &raquo;</a></p>
    </div>

</div>
<div class="row">
    <h3>Resultaat</h3>
    <div class="col-md-4">

        <p>
            <ul>
                <li>Boodschap</li>
                <li>hash vergelijking</li>
            </ul>
        </p>

    </div>
</div>



